/*添加按钮*/
.pre {
    position: relative;
  }
  .cnblogs-markdown pre > span {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 2px;
    padding: 0 10px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    /*注释下面这一行，button一直显示*/
    display:none;
  }
  .cnblogs-markdown pre:hover > span {
    display:block;
  }
  .cnblogs-markdown pre > .copyed {
    background: #67c23a;
  }

  